pipeline/PIP_LoadDataSynapseToADLS.json
{
	"name": "PIP_LoadDataSynapseToADLS",
	"properties": {
		"activities": [
			{
				"name": "Copy data SynapseToADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SynapseETTDLEvolution",
						"type": "DatasetReference",
						"parameters": {
							"C_Source_TableOrFile": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"C_Source_SchemaOrPath": {
								"value": "@pipeline().parameters.P_Source_SchemaOrPath",
								"type": "Expression"
							},
							"C_KV_Secret": {
								"value": "@pipeline().parameters.P_KV_Secret",
								"type": "Expression"
							},
							"C_KV_Service": {
								"value": "@pipeline().parameters.KV_Service",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_SynapseToADLS_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"C_NameParquet": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"C_DirectoryFile": {
								"value": "@pipeline().parameters.P_Sink_DirectoryFile",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Execution Detail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data SynapseToADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateExecutionDetail]",
					"storedProcedureParameters": {
						"Error": {
							"value": null,
							"type": "String"
						},
						"Id_Execution": {
							"value": {
								"value": "@pipeline().parameters.P_Id_Execution",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsError": {
							"value": {
								"value": "@empty(activity('Copy data SynapseToADLS').output.errors)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"rowsCopied": {
							"value": {
								"value": "@activity('Copy data SynapseToADLS').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source_TableOrFile": {
							"value": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DS_ParquetToSynapse_Input",
					"type": "LinkedServiceReference",
					"parameters": {
						"C_P_KV_Service": {
							"value": "@pipeline().parameters.KV_Service",
							"type": "Expression"
						},
						"C_P_KV_Secret": {
							"value": "@pipeline().parameters.P_KV_Secret",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update Execution Detail Error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data SynapseToADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateExecutionDetail]",
					"storedProcedureParameters": {
						"Error": {
							"value": {
								"value": "@activity('Copy data SynapseToADLS').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"Id_Execution": {
							"value": {
								"value": "@pipeline().parameters.P_Id_Execution",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsError": {
							"value": {
								"value": "@empty(activity('Copy data SynapseToADLS').output.errors)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"rowsCopied": {
							"value": null,
							"type": "Int32"
						},
						"Source_TableOrFile": {
							"value": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DS_ParquetToSynapse_Input",
					"type": "LinkedServiceReference",
					"parameters": {
						"C_P_KV_Service": {
							"value": "@pipeline().parameters.KV_Service",
							"type": "Expression"
						},
						"C_P_KV_Secret": {
							"value": "@pipeline().parameters.P_KV_Secret",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"P_Source_TableOrFile": {
				"type": "string"
			},
			"P_Source_SchemaOrPath": {
				"type": "string"
			},
			"P_KV_Secret": {
				"type": "string"
			},
			"KV_Service": {
				"type": "string"
			},
			"P_Sink_DirectoryFile": {
				"type": "string"
			},
			"P_Id_Execution": {
				"type": "string"
			}
		},
		"folder": {
			"name": "PIP_Migration_Data"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-09T17:10:41Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}