pipeline/PIP_LoadADLSToSynpase.json
{
	"name": "PIP_LoadADLSToSynpase",
	"properties": {
		"activities": [
			{
				"name": "Copy ADLSToSynpase",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false,
							"prefix": ""
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{concat('\nDECLARE @CON INT = (SELECT COUNT(*) FROM ExecutionDetail WHERE Source_TableOrFile LIKE ( ','''',pipeline().parameters.P_Source_TableOrFile,'''','))',\n'IF @CON <= 1\nBEGIN\ntruncate table  ',pipeline().parameters.P_Sink_SchemaOrPath,'.',pipeline().parameters.P_Sink_TableOrFile,\n' END')}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "LS_ADLS_To_Synapse_STG",
							"type": "LinkedServiceReference"
						}
					},
					"translator": {
						"value": "@json(pipeline().parameters.P_ColumnMapping)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_CSV_Output",
						"type": "DatasetReference",
						"parameters": {
							"C_Sink_TableOrFile": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"C_Sink_SchemaOrPath": {
								"value": "@pipeline().parameters.P_Source_SchemaOrPath",
								"type": "Expression"
							},
							"C_Source_DirectoryFile": {
								"value": "@pipeline().parameters.P_Source_DirectoryFile",
								"type": "Expression"
							},
							"C_LoadDate": {
								"value": "@pipeline().parameters.P_LoadDate",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SynapseETTDLEvolution",
						"type": "DatasetReference",
						"parameters": {
							"C_Source_TableOrFile": {
								"value": "@pipeline().parameters.P_Sink_TableOrFile",
								"type": "Expression"
							},
							"C_Source_SchemaOrPath": {
								"value": "@pipeline().parameters.P_Sink_SchemaOrPath",
								"type": "Expression"
							},
							"C_KV_Secret": {
								"value": "@pipeline().parameters.P_KV_Secret",
								"type": "Expression"
							},
							"C_KV_Service": {
								"value": "@pipeline().parameters.P_KV_Service",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Execution Detail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy ADLSToSynpase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateExecutionDetail]",
					"storedProcedureParameters": {
						"Error": {
							"value": null,
							"type": "String"
						},
						"Id_Execution": {
							"value": {
								"value": "@pipeline().parameters.P_Id_Execution",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsError": {
							"value": {
								"value": "@empty(activity('Copy ADLSToSynpase').output.errors)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"rowsCopied": {
							"value": {
								"value": "@activity('Copy ADLSToSynpase').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source_TableOrFile": {
							"value": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DS_ParquetToSynapse_Input",
					"type": "LinkedServiceReference",
					"parameters": {
						"C_P_KV_Service": {
							"value": "@pipeline().parameters.P_KV_Service",
							"type": "Expression"
						},
						"C_P_KV_Secret": {
							"value": "@pipeline().parameters.P_KV_Secret",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update Execution Detail Error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy ADLSToSynpase",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateExecutionDetail]",
					"storedProcedureParameters": {
						"Error": {
							"value": {
								"value": "@activity('Copy ADLSToSynpase').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"Id_Execution": {
							"value": {
								"value": "@pipeline().parameters.P_Id_Execution",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsError": {
							"value": {
								"value": "@empty(activity('Copy ADLSToSynpase').output.errors)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"rowsCopied": {
							"value": null,
							"type": "Int32"
						},
						"Source_TableOrFile": {
							"value": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DS_ParquetToSynapse_Input",
					"type": "LinkedServiceReference",
					"parameters": {
						"C_P_KV_Service": {
							"value": "@pipeline().parameters.P_KV_Service",
							"type": "Expression"
						},
						"C_P_KV_Secret": {
							"value": "@pipeline().parameters.P_KV_Secret",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DeleteFilesADFSRaw",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy ADLSToSynpase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Update_CSV_Curated_Output",
						"type": "DatasetReference",
						"parameters": {
							"C_Sink_TableOrFile": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"C_Sink_SchemaOrPath": {
								"value": "@pipeline().parameters.P_Source_SchemaOrPath",
								"type": "Expression"
							},
							"C_Source_DirectoryFile": {
								"value": "@pipeline().parameters.P_Source_DirectoryFile",
								"type": "Expression"
							},
							"C_LoadDate": {
								"value": "@pipeline().parameters.P_LoadDate",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "LS_ADLS_To_Synapse",
							"type": "LinkedServiceReference"
						},
						"path": "copyactivity-logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy CuratedToTrusted",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy ADLSToSynpase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_CSV_Output",
						"type": "DatasetReference",
						"parameters": {
							"C_Sink_TableOrFile": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"C_Sink_SchemaOrPath": {
								"value": "@pipeline().parameters.P_Source_SchemaOrPath",
								"type": "Expression"
							},
							"C_Source_DirectoryFile": {
								"value": "@pipeline().parameters.P_Source_DirectoryFile",
								"type": "Expression"
							},
							"C_LoadDate": {
								"value": "@pipeline().parameters.P_LoadDate",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Curate_To_Trusted_Csv",
						"type": "DatasetReference",
						"parameters": {
							"C_Sink_TableOrFile": {
								"value": "@pipeline().parameters.P_Sink_TableOrFile",
								"type": "Expression"
							},
							"C_Source_DirectoryFile": {
								"value": "@pipeline().parameters.P_Source_DirectoryFile",
								"type": "Expression"
							},
							"C_LoadDate": {
								"value": "@pipeline().parameters.P_LoadDate",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteFilesADFSCurated",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy CuratedToTrusted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Update_CSV_Curated_Output",
						"type": "DatasetReference",
						"parameters": {
							"C_Sink_TableOrFile": {
								"value": "@pipeline().parameters.P_Sink_TableOrFile",
								"type": "Expression"
							},
							"C_Sink_SchemaOrPath": "curated",
							"C_Source_DirectoryFile": {
								"value": "@pipeline().parameters.P_Source_DirectoryFile",
								"type": "Expression"
							},
							"C_LoadDate": {
								"value": "@pipeline().parameters.P_LoadDate",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "LS_ADLS_To_Synapse",
							"type": "LinkedServiceReference"
						},
						"path": "copyactivity-logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"P_Source_TableOrFile": {
				"type": "string"
			},
			"P_Source_SchemaOrPath": {
				"type": "string"
			},
			"P_Sink_SchemaOrPath": {
				"type": "string"
			},
			"P_Sink_TableOrFile": {
				"type": "string"
			},
			"P_ColumnMapping": {
				"type": "string"
			},
			"P_Source_DirectoryFile": {
				"type": "string"
			},
			"P_LoadDate": {
				"type": "string"
			},
			"P_KV_Secret": {
				"type": "string"
			},
			"P_KV_Service": {
				"type": "string"
			},
			"P_Id_Execution": {
				"type": "string"
			}
		},
		"folder": {
			"name": "PIP_Migration_Data"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-09T13:05:14Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}