pipeline/PLLoadDataOracleToADLS.json
{
	"name": "PLLoadDataOracleToADLS",
	"properties": {
		"description": "Mover datos desde oracle a data lake",
		"activities": [
			{
				"name": "Copy Oracle To ADLS",
				"description": "Copiar datos desde cualquier base de datos oracle al data lake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@replace(pipeline().parameters.P_Source_Query,'\\r\\n',' ')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:10:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 1
						},
						"formatSettings": {
							"type": "ParquetWriteSettings",
							"maxRowsPerFile": 500000,
							"fileNamePrefix": {
								"value": "@concat(pipeline().parameters.P_Source_TableOrFile,'_',convertFromUtc(utcnow(),'Pacific Standard Time (Mexico)'))",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"parallelCopies": 3,
					"enableSkipIncompatibleRow": false
				},
				"inputs": [
					{
						"referenceName": "DsSinkOracleToADLS",
						"type": "DatasetReference",
						"parameters": {
							"C_C_Source_SchemaOrPath": {
								"value": "@pipeline().parameters.P_Source_SchemaOrPath",
								"type": "Expression"
							},
							"C_C_Source_TableOrFile": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"C_C_Source_KV_Service": {
								"value": "@pipeline().parameters.P_Source_KV_Service",
								"type": "Expression"
							},
							"C_C_Source_KV_Secret": {
								"value": "@pipeline().parameters.P_Source_KV_Secret",
								"type": "Expression"
							},
							"P_HostName": {
								"value": "@pipeline().parameters.P_Source_HostName",
								"type": "Expression"
							},
							"P_PortNumber": {
								"value": "@pipeline().parameters.P_Source_PortNumber",
								"type": "Expression"
							},
							"P_ServiceName": {
								"value": "@pipeline().parameters.P_Source_ServiceName",
								"type": "Expression"
							},
							"P_UserName": {
								"value": "@pipeline().parameters.P_Source_UserName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DsParquetDynamicSourceADLS",
						"type": "DatasetReference",
						"parameters": {
							"P_CCKVService": {
								"value": "@pipeline().parameters.P_Sink_KV_Service",
								"type": "Expression"
							},
							"P_CCKVSecret": {
								"value": "@pipeline().parameters.P_Sink_KV_Secret",
								"type": "Expression"
							},
							"P_URL": {
								"value": "@pipeline().parameters.P_Sink_URL",
								"type": "Expression"
							},
							"P_File": {
								"value": "@pipeline().parameters.P_Sink_TableOrFile",
								"type": "Expression"
							},
							"P_Path": {
								"value": "@pipeline().parameters.P_Sink_SchemaOrPath",
								"type": "Expression"
							},
							"P_Directory": {
								"value": "@pipeline().parameters.P_C_Source_DirectoryFile",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Execution Detail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Oracle To ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateExecutionDetail]",
					"storedProcedureParameters": {
						"Error": {
							"value": null,
							"type": "String"
						},
						"Id_Execution": {
							"value": {
								"value": "@pipeline().parameters.P_Id_Execution",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsError": {
							"value": {
								"value": "@empty(activity('Copy Oracle To ADLS').output.errors)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"rowsCopied": {
							"value": {
								"value": "@activity('Copy Oracle To ADLS').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source_TableOrFile": {
							"value": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_init",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Execution Detail Error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Oracle To ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateExecutionDetail]",
					"storedProcedureParameters": {
						"Error": {
							"value": {
								"value": "@activity('Copy Oracle To ADLS').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"Id_Execution": {
							"value": {
								"value": "@pipeline().parameters.P_Id_Execution",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsError": {
							"value": {
								"value": "@empty(activity('Copy Oracle To ADLS').output.errors)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"rowsCopied": {
							"value": null,
							"type": "Int32"
						},
						"Source_TableOrFile": {
							"value": {
								"value": "@pipeline().parameters.P_Source_TableOrFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_init",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Load Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Execution Detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "usp_UpdateFileDates",
					"storedProcedureParameters": {
						"ProcessName": {
							"value": {
								"value": "@pipeline().parameters.P_ProcessName",
								"type": "Expression"
							}
						},
						"ProcessType": {
							"value": {
								"value": "@pipeline().parameters.P_ProcessType",
								"type": "Expression"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_init",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Data",
				"description": "Completa la tabla delta lake de databricks con el diferencial diario",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Update Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/s12480@mx.att.com/0.DataLake/0.DailyData",
					"baseParameters": {
						"Path": {
							"value": "@concat(pipeline().parameters.P_C_Source_DirectoryFile,'/',formatDateTime(convertFromUtc(utcnow(),'Pacific Standard Time (Mexico)'),'yyyy'),'/',formatDateTime(convertFromUtc(utcnow(),'Pacific Standard Time (Mexico)'),'MM'),'/',formatDateTime(convertFromUtc(utcnow(),'Pacific Standard Time (Mexico)'),'dd'))",
							"type": "Expression"
						},
						"TableName": {
							"value": "@pipeline().parameters.P_Source_TableOrFile",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DatabricksLinkedServiceTestVinkos",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_Source_KV_Service": {
				"type": "string"
			},
			"P_Source_KV_Secret": {
				"type": "string"
			},
			"P_Source_SchemaOrPath": {
				"type": "string"
			},
			"P_Source_TableOrFile": {
				"type": "string"
			},
			"P_Sink_KV_Service": {
				"type": "string"
			},
			"P_Sink_KV_Secret": {
				"type": "string"
			},
			"P_Sink_TableOrFile": {
				"type": "string"
			},
			"P_Source_Query": {
				"type": "string"
			},
			"P_Sink_SchemaOrPath": {
				"type": "string"
			},
			"P_Id_Execution": {
				"type": "string"
			},
			"P_C_Source_DirectoryFile": {
				"type": "string"
			},
			"P_C_LoadDate": {
				"type": "string"
			},
			"P_ProcessType": {
				"type": "string"
			},
			"P_ProcessName": {
				"type": "string"
			},
			"P_Source_HostName": {
				"type": "string"
			},
			"P_Source_PortNumber": {
				"type": "string"
			},
			"P_Source_ServiceName": {
				"type": "string"
			},
			"P_Source_UserName": {
				"type": "string"
			},
			"P_Sink_URL": {
				"type": "string"
			}
		},
		"variables": {
			"StartDate": {
				"type": "String"
			},
			"Quey_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00.Generics"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-27T19:07:19Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}